@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

html {
	background-color: #1c204a;
}

body {
}

.header {
	background-color: #343869;
	height: 77px;
	max-width: 100vw;
	padding: 16px;
	display: flex;
	justify-content: flex-end;
}

.input {
	width: 238px;
	height: 100%;
	border-radius: 50px;
	background-color: #343869;
	border: 2px solid #1c204a;
	padding: 8px 16px;
	outline: none;
	font-size: 1rem;
	color: #fff
}

.input::placeholder{
	color: #7378c5;
}
.input:focus{
	background-color: #1c204a;
}

.main {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.main-container {
	background-color: #fff;
	width: 100%;
	height: 100px;
}

.movie {
	width: 300px;
	height: 555px;
	margin: 16px;
	background-color: #343869;
	border-radius: 5px;
	overflow: hidden;
	position: relative;
}

.movie-info {
	display: flex;
	padding: 8px 16px 16px 16px;
	justify-content: space-between;
	height: 100px;
}

.movie-info h3 {
	color: #fff;
	font-size: 19px;
}

span {
	padding: 4px 8px;
	border-radius: 4px;
	background-color: #1c204a;
	width: 41px;
	text-align: center;
	align-self: center;
	font-weight: bold;
	font-size: 1rem;
}

span.green {
	color: #90ee90;
}
span.orange {
	color: #ffa500;
}
span.red {
	color: #f00;
}

img {
	width: 300px;
	height: 450px;
}

.movie-desc {
	background-color: #fff;
	padding: 30px 15px 15px 15px;
	position: absolute;
	transform: translateY(0%);
	max-height: 100%;
	transition: .3s;
}
.movie-desc.active {
	transform: translateY(-100%);
}

.movie-desc h3 {
	margin-bottom: 15px	;
}
